.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 20%;
}

@keyframes ldio-ibrzwy7pp1h-r {
    0%, 25%, 50%, 75%, 100% { animation-timing-function: cubic-bezier(0,1,0,1) }
    0% { transform: scale(0.7000000000000001) rotate(180deg) }
    25% { transform: scale(0.7000000000000001) rotate(270deg) }
    50% { transform: scale(0.7000000000000001) rotate(360deg) }
    75% { transform: scale(0.7000000000000001) rotate(450deg) }
    100% { transform: scale(0.7000000000000001) rotate(540deg) }
  }
  @keyframes ldio-ibrzwy7pp1h-z {
    0%, 50%, 100% { animation-timing-function: cubic-bezier(1,0,0,1) }
    0% { transform: scale(1) }
    50% { transform: scale(1) }
    100% { transform: scale(.5) }
  }
  @keyframes ldio-ibrzwy7pp1h-p {
    0%, 50%, 100% { animation-timing-function: cubic-bezier(1,0,0,1) }
    0% { transform: scale(0) }
    50% { transform: scale(1) }
    100% { transform: scale(1) }
  }
  @keyframes ldio-ibrzwy7pp1h-c {
    0%, 25%, 50%, 75%, 100% { animation-timing-function: cubic-bezier(0,1,0,1) }
    0% { background: #9298ff }
    25% { background: #125bed }
    50% { background: #36309d }
    75% { background: #178ef0 }
    100% { background: #1065f8 }
  }
  .ldio-ibrzwy7pp1h > div {
    animation: ldio-ibrzwy7pp1h-r 4s linear infinite;
    transform-origin: 100px 100px;
  }
  .ldio-ibrzwy7pp1h > div > div {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: ldio-ibrzwy7pp1h-z 1s linear infinite;
    transform-origin: 200px 200px;
  }
  .ldio-ibrzwy7pp1h > div > div div {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #e15b64;
    transform-origin: 50px 50px
  }
  .ldio-ibrzwy7pp1h > div > div div:nth-child(1) {
    left: 0px;
    top: 0px;
    animation: ldio-ibrzwy7pp1h-p 1s linear infinite, ldio-ibrzwy7pp1h-c 4s linear infinite;
  }
  .ldio-ibrzwy7pp1h > div > div div:nth-child(2) {
    left: 100px;
    top: 0px;
    animation: ldio-ibrzwy7pp1h-p 1s linear infinite, ldio-ibrzwy7pp1h-c 4s linear infinite;
  }
  .ldio-ibrzwy7pp1h > div > div div:nth-child(3) {
    left: 0px;
    top: 100px;
    animation: ldio-ibrzwy7pp1h-p 1s linear infinite, ldio-ibrzwy7pp1h-c 4s linear infinite;
  }
  .ldio-ibrzwy7pp1h > div > div div:nth-child(4) {
    left: 100px;
    top: 100px;
    transform: scale(1);
    animation: ldio-ibrzwy7pp1h-c 4s linear infinite
  }
  .loadingio-spinner-chunk-b1mewal18di {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
  }
  .ldio-ibrzwy7pp1h {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-ibrzwy7pp1h div { box-sizing: content-box; }