.create-control{
    text-align: center;
    padding: 0.5rem;
}

/* .create-control button {
    font: inherit;
    border: none;
    background: transparent;
    color: #333;
    padding: 0.25rem 3rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.primary {
    
} */

.create-control button.active {
    border-bottom-color: #6666ec;
    color: #6666ec
}

.create-control button:focus {
    outline: none;
}